:root {
  --blue: #3a00e5;
  --blueShade: #f7f5ff;
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: underline !important;
  color: #84a5ff !important;
}
.custom-color-shade {
  background-color: var(--blueShade);
}
.dropzone {
  border: 4px dashed gray;
  width: 100%;
  height: 100%;

  text-align: center;
}

.greenspan {
  color: green;
}

.redspan {
  color: red;
}
